@import "../../../../styles/mixins";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800;900&display=swap");

.LandingSection {
  height: 100vh;
  width: 100%;
  // scroll-snap-align: start;

  background-image: url("../../../../Assets/Images/BackGround.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c0e1ff;
  @include make-flex();
}
.LandingPageBody {
  // padding-top: 10em;
  @include make-flex(row, center, center);
  width: 70%;
  justify-content: space-between;

  &__img {
    width: auto;
    img {
      height: 50vh;
      width: 25vw;
      mix-blend-mode: darken;
      filter: drop-shadow(0 0 1rem black);
    }
  }
  &__text {
    width: auto;
    font-size: 2.5vw;
    display: inline;
    font-family: "Raleway";
    text-transform: uppercase;
    h1 {
      font-weight: 800;
      filter: drop-shadow(0 0 0.2rem black);
    }
    &__H1A,
    &__H1B {
      width: auto;
      opacity: 0.75;
      padding-left: 0.2em;
    }
    &__H1A {
      color: #0c33ff;
      padding-bottom: 0.8rem;
    }
    &__img {
      mix-blend-mode: darken;
      img {
        width: 8em;
      }
    }
  }
}
