.LandingSection {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;

  background-image: url("../../../../Assets/Images/BackGround.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c0e1ff;
}
