@import "../../../../styles/mixins";

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;1,500&display=swap");

h1,
h2 {
  font-family: "Raleway";
  width: auto;
  text-align: center;
 .hashtag{
   font-size: 3.2rem;
 }
}

.moqsh-logo {
  height: 200px;
  @include make-flex();
  width: 200px;
}

.LandingSection {
  width: calc(100vw);
  min-height: 100vh;
  // min-height: 755px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // row-gap: 50px;
  background-image: url(../../../../Assets/Images/unnamed.jpeg);
  background-size: cover;
  // &::before{
  //   content: "";
  //   height: 150px;
  // }
}

.row-1 {
  width: auto;
  font-weight: 700;

  margin-top: 125px;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.row-2 {
  margin-bottom: 115px;
  color: #43d2ff;
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-2 h2 {
  margin-top: 10px;
  font-style: italic;
  color: white;
}
.row-2 h1 {
  filter: drop-shadow(0 0 1rem black);
  padding: 0 20px;
}
.row-3 {
  margin-bottom: 35px;
}

.row-3 h1 {
  width: 50%;
  font-size: 2rem;
  text-align: center;
  color: white;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 620px) {
  .LandingSection {
    height: calc(100vh - 75px);
    margin-top: 75px;
  }
  .moqsh-logo {
    height: 150px;
    width: auto;
  }
  .row-1 {
    flex-direction: column;
    margin-top: 40px;
  }
  .row-1 h1 {
    font-size: 4.1rem;
  }
  h1,
  h2 {
    font-size: 1.6rem;
    text-align: center;
    .hashtag{
      font-size: 1.4rem;
    }
  }
  .row-2 {
    margin-bottom: 30px;
  }
  .row-3 {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .row-3 h1 {
    width: auto;
    font-size: 1.3rem;
  }
}
