@import "../../../../styles/mixins";

.EventSection {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  // scroll-snap-align: start;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='16' viewBox='0 0 84 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM30 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM10 0h2v16h-2V0zm6 0h4v16h-4V0zM2 0h4v16H2V0zm50 0h2v16h-2V0zM38 0h2v16h-2V0zm28 0h2v16h-2V0zm-8 0h6v16h-6V0zM42 0h6v16h-6V0z' fill='%239C92AC' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
  @include make-flex();
  &__ArrowLeft,
  &__ArrowRight {
    position: absolute;
  }
  &__CarouselContainer {
    height: 65%;
    min-width: 401px;
    width: 70%;
    @include make-flex($dir: row);
    // background-color: aqua;
    overflow: hidden;
    svg {
      height: 2.5rem;
      width: auto;
    }
    .embla {
      // background-color: blue;
      min-width: 335px;
      overflow: hidden;
      padding: 10px 0;
    }
    .embla__container {
      display: flex;
    }
    .embla__slide {
      position: relative;
      flex: 0 0 325px;
      margin: 5px;
    }
  }

  // &__Carousel {
  //   overflow: hidden;
  //   @include make-flex($dir: row);
  //   padding-left: 66px;
  //   padding-right: 10px;
  //   height: 100%;
  //   width: 1600%;
  //   .embla__container {
  //     display: flex;
  //     width: 37.1%;
  //   }
  //   .embla__slide {
  //     position: relative;
  //     flex: 0 0 100%;
  //   }
  // }
}
@media only screen and (max-width: 570px) {
  .EventSection {
    &__CarouselContainer {
      height: unset;
    }
  }
}