* {
  margin: 0;
  padding: 0;
}
.nav-bar {
  margin-top: 10px;
  display: flex;
  height: 70px;
  line-height: 70px;
  background-color: rgba(0, 0, 0, 0.164);
  justify-content: space-around;
  position: sticky;
}

.nav-bar p {
  display: inline-block;
  text-align: center;
}
