@import "../../styles/mixins";

.HeaderContainer {
  position: fixed;
  height: 75px;
  margin: auto;
  width: 100%;

  @include make-flex($just: flex-start);

  &__Header {
    width: 95%;
    height: 100%;
    border-radius: 0 0 20px 20px;
    background-color: #5f5e5e5b;
    padding: 0 26px 0 10px;
    @include make-flex($just: space-between, $dir: row);
    .Header {
      &__logo {
        height: 65px;
        width: 50px;
      }
      &__contents {
        width: 45%;
        height: 100%;
        @include make-flex($dir: row);
        p {
          font-family: "Raleway", sans-serif;
          text-align: center;
          font-size: 1.3rem;
          font-weight: 900;
          color: white;
        }
      }
    }
  }
}

.nav-bar {
  z-index: 1000;
  display: flex;
  position: sticky;
  top: 0;
  height: 70px;
  line-height: 70px;
  background-color: rgba(0, 0, 0, 0.589);
  justify-content: space-around;
  position: sticky;
}
a {
  text-decoration: none;
  color: white;
}
header {
  margin-top: 0;
}
.nav-bar ul {
  display: flex;
  justify-content: space-between;
}
.nav-bar ul li {
  display: inline;
  /* padding-left: 2em;
  padding-right: 2em;
  text-align: center; */
}

.logo {
  display: inline;
  padding-left: 2em;
}
