@import "../../../../../styles/mixins";

.CountdownSection {
  width: 50%;
  @include make-flex($dir: row);
  row-gap: 5rem;
  padding: 10px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;

  h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Raleway";
    font-size: 2rem;
    color: rgb(255, 255, 255);
  }
  &__Countdown {
    height: auto;
    @include make-flex($dir: row, $just: space-around);

    text-align: center;
    font-family: "Raleway";
    span {
      font-size: 3rem;
      font-weight: 700;
    }
    div {
      display: inline;
    }
    .Countdown {
      &__days,
      &__hours,
      &__minutes {
        width: auto;
        color: black;
      }
      &__seconds {
        width: auto;
        color: #0f003a;
      }
    }
    p {
      padding-top: 20px;
      text-transform: uppercase;
      font-size: 1.1rem;
      color: #0f003a;
    }
  }
}

@media only screen and (max-width: 620px) {
  .CountdownSection {
    @include make-flex($dir: column);
    width: 100%;
    row-gap: 2rem;
    height: auto;
    position: static;
  }
}
