@import "../../../../../styles/mixins";

.CountdownSection {
  width: 50%;
  @include make-flex($dir: row);
  row-gap: 5rem;
  padding: 10px;
  height: auto;
  bottom: 0;
  right: 0;

  &__Countdown {
    height: auto;
    @include make-flex($dir: row, $just: space-around);

    text-align: center;
    font-family: "Raleway";
    span {
      font-size: 3rem;
      font-weight: 700;
    }
    div {
      display: inline;
    }
    .Countdown {
      &__days,
      &__hours,
      &__minutes {
        width: auto;
        color: #00b0e8;
      }
      &__seconds {
        width: auto;
        color: #09c6ff;
      }
    }
    p {
      padding-top: 20px;
      text-transform: uppercase;
      font-size: 1.1rem;
      color: white;
    }
  }
}

@media only screen and (max-width: 620px) {
  .CountdownSection {
    @include make-flex($dir: column);
    width: 100%;
    row-gap: 2rem;
    height: auto;
    position: static;
  }
}
