@import "../../styles/mixins";

.FooterSection {
  // height: 45vh;
  width: 100%;
  background-color: #423d79;
  @include make-flex($dir: row, $just: space-between);
  position: relative;
  padding: 0px 70px;

  &__Description,
  &__QuickLinks,
  &__Connect {
    @include make-flex();
    row-gap: 7px;
  }
  &__Icons {
    svg {
      width: auto;
      height: 25px;
      fill: #c0e1ff;
      cursor: pointer;
      path {
        fill: #c0e1ff;
        stroke: #c0e1ff;
      }
      &:hover {
        transform: scale(1.2);
        fill: #84bdf3;
      }
    }
    @include make-flex($dir: row, $just: flex-start);
    column-gap: 7px;

    a {
      width: auto;
    }
    .tooltip {
      position: relative;
      display: inline-block;
    }
    .tooltip .tooltiptext {
      visibility: hidden;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
      width: 150px;
      bottom: 140%;
      left: 50%;
      margin-left: -60px;
    }
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
  }
  &__Left {
    width: 88%;
    height: 100%;
    row-gap: 20px;
    @include make-flex($just: space-between);
    color: white;
    font-family: "Raleway";

    .Heading {
      font-weight: 600;
      font-size: 1.7rem;
    }
  }

  &__contactDetails {
    &--pnone {
      width: auto;
      // margin-top: 10px;
      // margin-bottom: 10px;
    }
    &--email {
      width: auto;
    }
  }

  &__Right {
    width: auto;
    padding: 15px 0;
    img {
      height: 75px;
      width: auto;
    }
  }
}

@media only screen and (max-width: 620px) {
  .FooterSection {
    row-gap: 50px;
    padding: 35px 0px;
    flex-direction: column-reverse;
    &__Right img {
      width: 115px;
      height: 130px;
    }
    &__Icons {
      justify-content: space-around;
    }
    &__Left {
      width: auto;
    }
    .QuickLinks {
      justify-content: center;
    }
  }
}
