@import "../../styles/mixins";

.FooterSection {
  // height: 45vh;
  width: 100%;
  background-color: #423d79;
  @include make-flex($dir: row);
  position: relative;
  padding: 35px 70px;

  &__Description,
  &__QuickLinks,
  &__Connect {
    @include make-flex();
    row-gap: 7px;
  }
  &__Icons {
    svg {
      width: auto;
      height: 25px;
      fill: #c0e1ff;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
        fill: #84bdf3;
      }
    }
    @include make-flex($dir: row, $just: flex-start);
    column-gap: 7px;
  }
  &__Left {
    width: 75%;
    height: 100%;
    row-gap: 20px;
    @include make-flex($just: space-between);
    color: white;
    font-family: "Raleway";

    .Heading {
      font-weight: 600;
      font-size: 1.7rem;
    }
    .Description {
      line-height: 27px;
      font-size: 1.1rem;
    }
    .QuickLinks {
      @include make-flex($dir: row, $just: flex-start);
      width: 100%;
      column-gap: 20px;
      row-gap: 20px;
      flex-wrap: wrap;

      &__Home,
      &__Event,
      &__Sponsor,
      &__Speaker {
        height: 45px;
        cursor: pointer;
        width: 156px;
        padding: 0 20px;
        column-gap: 20px;
        @include make-flex($dir: row);
        border: 2px solid white;
        border-radius: 10px;
        span {
          font-weight: 600;
          @include make-flex($dir: row);
          width: auto;
        }
        svg {
          width: auto;
          height: 50%;
        }
        &:hover {
          border: 2px solid #000;
          background-color: white;
          span {
            color: #000;
          }
          svg {
            fill: #000;
          }
        }
      }
    }
  }

  &__Right {
    width: 25%;
  }
}

@media only screen and (max-width: 620px) {
  .FooterSection {
    row-gap: 50px;
    padding: 35px 0px;
    flex-direction: column-reverse;
    &__Right {
      width: 50%;
    }
    .QuickLinks{
      justify-content: center;
    }
  }
}
