@import "../../styles/mixins";

.FooterSection {
  &__Bottom {
    width: 100%;
    background-color: #272a2b;
    height: 52.8px;
    @include make-flex($dir: row);
    position: relative;
    padding: 18px 0;
    column-gap: 20px;
    background-image: url("../../Assets/Images/footerBg.png");
    background-repeat: repeat-x;
    svg {
      width: auto;
      height: 23px;
      fill: #c0e1ff;
      cursor: pointer;
      path {
        fill: #c0e1ff;
        stroke: #c0e1ff;
      }
      &:hover {
        transform: scale(1.2);
        fill: #84bdf3;
      }
    }
  }
  &__Top {
    height: 200px;
    width: 100%;
    background-color: #161819;
    column-gap: 120px;
    @include make-flex($dir: row);

    img {
      height: 130px;
      width: auto;
    }
    &__empty {
      width: 200px;
    }
    i {
      font-size: 14px;
    }
    &__Contact {
      width: 260px;
      font-family: "PT Serif", serif;
      @include make-flex();

      &--heading {
        color: #52595e;
        text-shadow: 0 1px 2px black;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
      }
      &--text {
        color: #b2b9be;
        font-size: 17px;
      }
      &--text.first {
        margin-bottom: 1.33em;
      }
    }
  }

  a {
    width: auto;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 150px;
    bottom: 140%;
    left: 50%;
    margin-left: -60px;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  &__contactDetails {
    &--pnone {
      width: auto;
    }
    &--email {
      width: auto;
    }
  }
}

@media only screen and (max-width: 620px) {
  .FooterSection {
    width: 100vw;

    row-gap: 50px;
    &__Top {
      column-gap: 20px;
      height: 270px;

      column-gap: 28px;
      padding: 0 20px;
      img {
        height: 130px;
        width: auto;
      }
      &__empty {
        width: 0px;
        visibility: hidden;
      }
      &__Contact {
        &--heading,
        &--text {
          font-size: 20px;
        }
      }
    }
    &__Bottom {
      column-gap: 30px;
      svg {
        width: auto;
        height: 27px;
      }
    }
  }
}
