.fCard {
  padding: 1vw;
  width: auto;
  &:hover {
    background-color: rgb(12, 20, 134);
    font-weight: bold;
  }
  border-style: solid;
  border-width: 5px;
  border-radius: 50px;
  border-color: #2c2b2b;
  transition: 0.5s;
  a {
    font-size: 2vw;
    font-family: "Raleway";
    padding: 2vw;
    line-height: 2vw;
  }
}
