@import "../../../../../../styles/mixins";

.SponsorCard {
  @include make-flex();
  border-radius: 10px;
  position: relative;
  flex: 0 0 350px;
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
  height: auto;
  width: auto;
  padding: 20px;
  img {
    width: auto;
    height: auto;
  }
}
