@import "../../../../../../styles/mixins";

.SpeakerCard {
  height: 370px;
  row-gap: 20px;
  width: 330px;
  max-width: 330px;
  min-width: 301px;
  border-radius: 20px;
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.349);
  transition: 0.4s ease-out;
  padding: 30px;
  @include make-flex($just: flex-end);
  transition: all 0.5s ease-in-out;

  overflow: hidden;

  &__Active {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    max-width: unset;
  }

  &__About {
    @include make-flex();
    row-gap: 20px;
    font-family: "Raleway", sans-serif;
  }

  &__Name {
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Merienda", cursive;
    text-align: center;
  }
  &__SmallDesc {
    font-size: 0.9rem;
    p {
      max-height: 133px;
      text-overflow: ellipsis;
      //   white-space: nowrap;
      overflow: hidden;
    }
  }
  &__content {
    height: 100%;
    width: 100%;
    row-gap: 20px;
    @include make-flex();
  }
  &__Image {
    width: 100px;
    border-radius: 50%;
  }

  &__Date {
    @include make-flex();
    font-family: "Raleway", sans-serif;
    color: #fff;

    background-color: #05054b;
    text-align: center;
    width: 300px;
    height: 35px;
    font-size: 1.2rem;

    position: absolute;
    top: 25px;
    left: -106px;
    transform: rotate(-45deg);
  }

  &__ViewMore {
    width: 60%;
    border-radius: 10px;
    border: none;
    background-color: #ff0000;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    min-height: 50px;
    height: 50px;
  }
}
