@import "../../../../styles/mixins";

.AboutSection {
  background-color: #ffffff;
  width: 100%;
  min-height: 100vh;
  min-height: 755px;
  // scroll-snap-align: start;
  @include make-flex();
  &__Text {
    @include make-flex();
    row-gap: 30px;
    align-items: center;

    font-family: "Raleway";
    color: rgb(5, 5, 75);
    // height: 65%;
    width: 80%;
    padding: 2rem;
    padding-top: 1rem;
    &__Subtext {
      text-indent: 1.2em;
      text-align: justify;
      text-justify: distribute;
      line-height: 1.7em;
      font-size: 1.1rem;
      overflow-y: scroll;
    }
  }
  p {
    color: black;
    margin-top: 30px;
  }
  h1 {
    @media only screen and (max-width: 620px) {
      font-size: 1.5em;
    }
    font-size: 2.5em;
  }
  h1::before {
    content: open-quote;
    color: red;
    font-size: 1.5em;
  }
  h1::after {
    content: close-quote;
    color: red;
    font-size: 1.5em;
  }
  &__ViewMore {
    width: 45%;
    border-radius: 10px;
    border: none;
    background-color: rgb(5, 5, 75);
    transition: 0.75s;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    height: 50px;
    @media only screen and (max-width: 620px) {
      height: 70px;
    }
  }
  button:hover {
    background-color: black;
  }

  &__Clubs {
    overflow: hidden;
    width: 100%;
  }
  &__container {
    display: flex;
  }
  &__slide {
    position: relative;
    flex: 0 0 100px;
    width: 100px;
    margin: 0 10px;
  }
}

@media only screen and (max-width: 620px) {
  .AboutSection {
    min-height: unset;
    width: 100vw;
    padding: 2rem 0;
    height: auto;
    &__Text {
      width: 100%;
      height: unset;
    }
    &__ViewMore {
      width: 85%;
    }
  }
}
@media only screen and (max-width: 1015px) {
  .AboutSection {
    height: auto;
  }
}
