/* body {
  background: #f3904f;
  background: -webkit-linear-gradient(to left, #3b4371, #f3904f);
  background: linear-gradient(to left, #3b4371, #f3904f);
} */

body {
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
}
