@import "./styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  min-width: 400px;
  overflow-x: hidden;
}
* {
  // outline: 1px solid #f00 !important;
  width: 100%;
  margin: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(48, 35, 35, 0.719);
  }

  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #000000bd;
  }
}
section {
  max-height: 900px;
}

.FooterSection {
  min-height: 252.8px;
}

@media only screen and (max-width: 620px) {
  section {
    max-height: unset;
  }
}
