@import "../../../../../../styles/mixins";

.ClubCard {
  @include make-flex();
  border-radius: 10px;
  position: relative;
  flex: 0 0 235px;
  // background-color: aliceblue;
  margin-right: 10px;
  margin-left: 10px;
  img {
    cursor: pointer;
    width: 90%;
  }
  &:hover {
    transform: scale(1.2);
  }
}
