@import "../../styles/mixins";

.SectionHeading {
  width: 85%;
  margin-bottom: 10px;
  &__text {
    font-family: "Raleway";
    font-size: 2.5rem;
    font-weight: 600;
    opacity: 0.9;
  }
  &__line {
    height: 5px;
    width: 100px;
    background-color: red;
  }
}
